<div class="row">
  <div class="col-md-6">
    <h2>Upplýsingar um notanda</h2>
    <form ng-submit="editAccount()">
      <div class="form-group">
        <label for="username">Notandanafn</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Notandanafn" readonly="readonly" ng-model="user.username" />
      </div>
      <div class="form-group">
        <label for="ssn">Kennitala</label>
        <input type="text" id="ssn" name="ssn" class="form-control" placeholder="Kennitala" readonly="readonly" ng-model="user.ssn" />
      </div>
      <div class="form-group">
        <label for="name">Nafn</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Nafn" ng-model="user.name" />
      </div>
      <div class="form-group">
        <label for="phone">Símanúmer</label>
        <input type="tel" id="phone" name="phone" class="form-control" placeholder="Símanúmer" ng-model="user.phone" />
      </div>
      <div class="form-group">
        <label for="email">Netfang</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Netfang" ng-model="user.email" />
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Uppfæra" />
    </form>
  </div>
  <div class="col-md-6">
    <h2>Greiðslu upplýsingar</h2>
    <div ng-if="$root.user.payed == $root.global.PaymentType.None">
      <p class="mb-0">Í forsölu kostar kr. 4.900.</p>
      <p>Þegar forsölu lýkur kostar kr. 5.900.</p>
      <p class="mb-0">Til að greiða í forsölu þarf að millifæra kr. 4.900 inn á reikning Tvíundar.</p>
      <p class="text-info">ATH: Til þess að greiðslan skili sér vandræðalaust er best að skrá kennitölu keppanda þegar millifært er.</p>
      <p class="mb-0">Reikningsnúmer: 0301-26-051330</p>
      <p>Kennitala: 550705-1330</p>
      <p class="text-danger">Þú hefur ekki greitt fyrir þátttöku.</p>
      <form ng-submit="sendPayment()">
        <h3>Skrá greiðslu</h3>
        <p>Vinsamlegast skráið nafn og kennitölu þess sem millifærði greiðsluna.</p>
        <div class="form-group">
          <label for="payerSsn">Nafn og kennitala greiðanda</label>
          <input type="text" class="form-control" id="payerSsn" name="payerSsn" placeholder="Nafn og kennitala greiðanda" ng-model="payer.ssn" />
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Skrá" />
      </form>
    </div>
    <div ng-if="$root.user.payed == $root.global.PaymentType.Pending">
      <p class="text-warning">Þú hefur skráð greiðslu. Greiðslan verður yfirfarin af mótshaldara.</p>
    </div>
    <div ng-if="$root.user.payed == $root.global.PaymentType.Payed">
      <p class="text-success">Þú hefur þegar greitt fyrir þátttöku.</p>
    </div>
  </div>
</div>
