<div class="container" style="margin-top:40px">
<div class="row">
  <div class="col-sm-8 col-md-6 col-md-offset-3" ng-if="!$root.user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong> Innskráning </strong>
      </div>
      <div class="panel-body">
        <form role="form" ng-submit="login()">
          <fieldset>
            <div class="row" ng-if="userObj.error">
              <div class="col-xs-12 text-danger">{{ userObj.error }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input class="form-control" placeholder="Notandanafn" name="loginname" type="text" ng-model="userObj.username" autofocus/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" placeholder="Lykilorð" name="password" type="password" ng-model="userObj.password" value="">
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Skrá inn"/>
                  <button type="button" class="btn btn-primary btn-block" ng-click="fbButton()"> Skrá inn með Facebook </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="panel-footer ">
        Ekki með aðgang? <a ui-sref="nav.signup"> Nýskráning </a>
      </div>
    </div>
  </div>
</div>
</div>
