<nav class="header navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="nav.home"><img alt="HRingurinn" src="/www/images/logomin.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/Leyfisbréf-HRingurinn.pdf" target="_blank">Leyfisbréf</a>
        </li>
        <li ng-if="$root.user && $root.user.role !== 'public'">
          <a ui-sref="nav.userControl">Notendur</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="$root.user">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="loginDot" tooltip-placement="left" uib-tooltip="{{ $root.tooltip() }}" ng-class="$root.paymentClass()"></span> {{ $root.user.name }}
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="nav.account">Notandi</a></li>
            <li><a ui-sref="nav.home" ng-click="$root.logout()">Útskrá</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="body container" ui-view></div>
