<div class="container" style="margin-top:40px">
<div class="row">
  <div class="col-sm-8 col-md-6 col-md-offset-3" ng-if="showMessage">
    <p>Vinsamlegast kláraðu að búa til notanda með Facebook</p>
  </div>
  <div class="col-sm-8 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Nýskráning</strong>
      </div>
      <div class="panel-body">
        <form role="form" ng-submit="signup()">
          <fieldset>
            <div class="row" ng-if="newUser.error">
              <div class="col-xs-12 text-danger">{{ newUser.error }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                <div class="form-group">
                  <label for="username">Notandanafn</label>
                  <input class="form-control" placeholder="Notandanafn" name="username" type="text" ng-model="newUser.username" required>
                </div>
                <div class="form-group">
                  <label for="password">Lykilorð</label>
                  <input class="form-control" placeholder="Lykilorð" name="password" type="password" ng-model="newUser.password" required>
                </div>
                <div class="form-group">
                  <label for="password2">Lykilorð aftur</label>
                  <input class="form-control" placeholder="Lykilorð aftur" name="password2" type="password" ng-model="passwordCheck" required>
                  <p class="text-danger" ng-if="newUser.passwordError">{{ newUser.passwordError }}</p>
                </div>
                <hr />
                <div class="form-group">
                  <label for="fullName">Fullt nafn</label>
                  <input class="form-control" placeholder="Fullt nafn" name="fullName" type="text" ng-model="newUser.name" autofocus required>
                </div>
                <div class="form-group">
                  <label for="ssn">Kennitala</label>
                  <input class="form-control" placeholder="Kennitala" name="ssn" type="tel" ng-model="newUser.ssn" required>
                  <p class="text-danger" ng-if="newUser.ssnError">{{ newUser.ssnError }}</p>
                </div>
                <div class="form-group">
                  <label for="email">Netfang</label>
                  <input class="form-control" placeholder="Netfang" name="email" type="email" ng-model="newUser.email" required>
                </div>
                <div class="form-group">
                  <label for="phone">Símanúmer</label>
                  <input class="form-control" placeholder="Símanúmer" name="phone" type="tel" ng-model="newUser.phoneNumber" required>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Skrá notanda">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
