<div>
  <uib-tabset active="active">
    <uib-tab ng-repeat="game in games | orderBy : 'id' : false" index="game.id" heading="{{ game.name }}">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Lið</th>
            <th ng-if="game.size > 1">Skráðir</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="team in game.Teams">
            <td>{{ team.name }}</td>
            <td ng-if="game.size > 1">{{ (team.Members | filter : {status: '!pending'}).length }} / {{ game.size }}</td>
            <td><a ui-sref="nav.team({id: '{{ team.id }}' })" class="btn btn-link pull-right">Skoða</button></td>
          </tr>
        </tbody>
      </table>
    </uib-tab>
    <uib-tab heading="Rocket League" index="666">
      <div class="col-sm-8 col-md-6 col-md-offset-3 push-down">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGIHtbUst8U6gLXBwIYuBafZOEDacpyHiE4FCyafqrfVfV2w/viewform?c=0&w=1">
              Skráning í Rocket League keppni
            </a>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Nýtt lið" class="pull-right" ng-if="!user.Member">
      <div class="col-sm-8 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Skrá nýtt lið á HRinginn.</strong>
          </div>
          <div class="panel-body">
            <form ng-submit="addTeam()">
              <div class="form-group">
                <label for="game">Leikur</label>
                <select class="form-control" id="game" name="game" ng-model="form.game">
                  <option ng-repeat="game in games | orderBy : 'id' : false" value="{{ game.id }}">{{ game.name }}</option>
                </select>
                <p class="text-danger" ng-if="form.gameError">{{ form.gameError }}</p>
              </div>
              <div class="form-group">
                <label for="name">Nafn</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nafn" ng-model="form.name" />
                <p class="text-danger" ng-if="form.nameError">{{ form.nameError }}</p>
              </div>
              <div class="form-group">
                <label for="name">Leiknafn</label>
                <input type="text" class="form-control" id="inGameName" name="inGameName" placeholder="Leiknafn" ng-model="form.inGameName" />
                <p class="text-danger" ng-if="form.inGameNameError">{{ form.inGameNameError }}</p>
              </div>
              <input type="submit" class="btn btn-block btn-success" value="Skrá" />
            </form>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
