<button class="btn btn-link pull-right" ng-click="open()" ng-if="!user.Member">Sækja um</button>
<button class="btn btn-warning pull-right" ng-click="leave()" ng-if="user.Member && user.Member.TeamId == team.id && user.Member.status != 'captain'">Hætta í liði</button>
<button class="btn btn-warning pull-right" ng-click="deleteTeam()" ng-if="user.Member && user.Member.TeamId == team.id && user.Member.status == 'captain'">Eyða liði</button>
<h2>{{ team.name }} - {{ team.Game.name }}</h2>
<table class="table table-striped table-bordered">
  <tbody>
    <tr ng-repeat="member in team.Members" ng-if="member.status != 'pending'">
      <td>{{ member.inGameName }}
        <div class="btn-group pull-right" role="group" ng-if="user.Member && user.Member.TeamId == team.id && user.Member.status == 'captain' && member.status !== user.Member.status">
          <button type="button" class="btn btn-warning" ng-click="reject(member.id)">Fjarlægja úr liði</button>
        </div>
      </div>
    </tr>
  </tbody>
</table>

<div ng-if="user.Member && user.Member.TeamId == team.id && user.Member.status == 'captain'">
  <h3>Umsækjendur</h3>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr ng-repeat="member in team.Members" ng-if="member.status == 'pending'">
        <td>{{ member.inGameName }}</td>
        <td>
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-primary" ng-click="accept(member.id)">Samþykkja</button>
            <button type="button" class="btn btn-warning" ng-click="reject(member.id)">Hafna</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Skráðu nafn þitt í leiknum.</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="gameName">Leiknafn</label>
      <input type="text" name="gameName" id="gameName" class="form-control" placeholder="Leiknafn" ng-model="application.name" />
      <p class="text-danger" ng-if="error">{{ error }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Hætta við</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Sækja um</button>
  </div>
</script>
