<div>
  <div class="userSearch">
    <input type="text" ng-model="userSearch" class="form-control" />
  </div>
  <div ng-show="userSearch === ''">
    <uib-tabset active="field.name[0]">
      <uib-tab ng-repeat="field in paymentFields" index="field.name" heading="{{ field.name }}">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nafn</th>
              <th>Kennitala</th>
              <th>Staða</th>
              <th>Leikmaður</th>
              <th>Lið</th>
              <th>Leikur</th>
              <th ng-if="$root.user.role === 'council' || $root.user.role === 'checkin'"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | orderBy:'+name'" ng-if="user.payed === field.paymentStatus">
              <td>{{ user.name }}</td>
              <td>{{ user.ssn }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.Member.inGameName }}</td>
              <td>{{ user.Member.Team.name }}</td>
              <td>{{ user.Member.Team.Game.name }}</td>
              <td ng-if="$root.user.role === 'council' || $root.user.role === 'checkin'"><a ng-click="userDetails(user)" class="btn btn-link pull-right">Skoða</button></td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>
  </div>
  <div ng-show="userSearch !== ''">
    <uib-tabset active="Leit">
      <uib-tab index="Leit" heading="Leit">
        <table class="table table-striped table-hover">
          <thead>
            <tr>

              <th>Nafn</th>
              <th>Kennitala</th>
              <th>Staða</th>
              <th>Leikmaður</th>
              <th>Lið</th>
              <th>Leikur</th>
              <th ng-if="$root.user.role === 'council' || $root.user.role === 'checkin'"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | orderBy:'+name' | filter:userSearch">
              <td>{{ user.name }}</td>
              <td>{{ user.ssn }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.Member.inGameName }}</td>
              <td>{{ user.Member.Team.name }}</td>
              <td>{{ user.Member.Team.Game.name }}</td>
              <td ng-if="$root.user.role === 'council' || $root.user.role === 'checkin'"><a ng-click="userDetails(user)" class="btn btn-link pull-right">Skoða</button></td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<script type="text/ng-template" id="userDetailsModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{ user.name }}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="ssn">Kennitala</label>
          <p id="ssn">{{ user.ssn }}</p>
          <label for="email">Netfang</label>
          <p id="email">{{ user.email }}</p>
          <label for="phone">Sími</label>
          <p id="phone">{{ user.phoneNumber }}</p>
          <label for="payed">Greiðslustaða</label>
          <p class="{{ $root.paymentTextClass(user.payed) }}" id="payed">{{ $root.tooltip(user.payed) }}</p>
          <label>Staða</label>
          <p class="">{{ user.role }}</p>
          <label ng-if="user.Attendance.voucher">Voucher</label>
          <p ng-if="user.Attendance.voucher">{{ user.Attendance.voucher }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-if="user.Member">
          <label>Leiknafn</label>
          <p>{{ user.Member.inGameName }}</p>
          <label>Lið</label>
          <p><a ui-sref="nav.team({id: '{{ user.Member.TeamId }}' })">{{ user.Member.Team.name }}</a></p>
        </div>
        <div ng-if="user.Attendance">
          <h2>Greiðslu upplýsingar</h2>
          <label>Kennitala greiðanda</label>
          <p>{{ user.Attendance.payerSSN }}</p>
          <p>Borgað {{ user.Attendance.updatedAt | date:'medium' }}</p>
        </div>
        <div ng-if="underage">
          <label for="parentName">Nafn foreldris</label>
          <input class="form-control" id="parentName" ng-model="form.parentName"/>
          <label for="parentName">Kennitala foreldris</label>
          <input class="form-control" id="parentSSN" ng-model="form.parentSSN"/>
          <label for="parentName">Sími foreldris</label>
          <input class="form-control" id="parentPhone" ng-model="form.parentPhone"/>
        </div>
        <div ng-if="$root.user.role === 'council' || $root.user.role === 'checkin'">
          <label for="payment">Breyta greiðslustöðu</label>
          <select class="form-control" id="payment" name="payment" ng-model="form.payment">
            <option ng-repeat="payment in payments" value="{{ payment.value }}">{{ payment.name }}</option>
          </select>
        </div>
        <div ng-if="$root.user.role === 'council'">
          <label for="role">Breyta stöðu</label>
          <select class="form-control" id="role" name="role" ng-model="form.role">
            <option ng-repeat="role in roles" value="{{ role.value }}" ng-selected="role.value === user.role">{{ role.name }}</option>
          </select>
        </div>
        <div class="userVoucher" ng-if="$root.user.role === 'council' || $root.user.role === 'checkin'">

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Loka</button>
    <button class="btn btn-primary" type="button" ng-click="save()">Vista</button>
    <button ng-if="form.payment === 'payed' || user.role !== 'public'"
      class="btn btn-primary" type="button" ng-click="printVoucher()">Prenta voucher</button>
    <button ng-if="form.payment === 'payed' || user.role !== 'public'"
      class="btn btn-primary" type="button" ng-click="saveAndPrint()">Vista og prenta voucher</button>
  </div>
</script>
