html {
  min-height: 100%;
  background-image: url(../images/background1.jpg);
  background-size: cover;
}
body {
  background: transparent;
}
.header.navbar {
  margin: 0;
  border: none;
  border-radius: 0;
}
.body.container {
  background-color: #fff;
  padding: 15px;
}
.loginDot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 3px;
}
.background-danger {
  background-color: #d9534f;
}
.background-warning {
  background-color: #f0ad4e;
}
.background-info {
  background-color: #5bc0de;
}
.background-success {
  background-color: #5cb85c;
}
.navbar-brand {
  padding: 10px 15px;
}
.navbar-brand img {
  height: 100%;
}
.mb-0 {
  margin-bottom: 0;
}
.userVoucher button {
  margin-top: 1em;
  margin-bottom: 1em;
}
.push-down {
  margin-top: 1em;
}
