* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: url('background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}

.white {
  color: #0066bb;
}

.center {
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.63);
  padding: 40px;
  border-radius: 20px;
}
